body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Spider-Man.jpg");
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #97a1ff;
}

.link-box-i {
    padding: 10px;
    border-radius: 5px;
}

.link-box-i a {
    color: black;
    font-size: 24px;
    font-weight: bold;
}