body{
    counter-reset: estrofa section;
    width: 55%;
    margin: 0 auto; 
    background-color: pink;
}

header {
    font-style: italic;
    text-align: center;
}

h1{
    color: black;
    text-align:center;  
    font-size: 30px;
}

h2{
    color: black;
    text-align: center;
    font-size: 30px;
}

h3{
    color: black;
    text-align: center;
    font-size: 30px;
}

p{
    text-align: center;
    color:black;
    font-size: 20px;
}